<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pulsedonor.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".di.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PulseDonor"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.oboarding.signup.SignUpActivity"
            android:exported="false"
            android:theme="@style/FullScreenActivityTheme" />
        <activity
            android:name=".ui.oboarding.intro.IntroductionActivity"
            android:exported="false"
            android:theme="@style/FullScreenActivityTheme" />
        <activity
            android:name=".ui.oboarding.splash_screen.SplashScreenActivity"
            android:configChanges="orientation|screenSize|locale"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/FullScreenActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.oboarding.signin.SignInActivity"
            android:exported="false"
            android:theme="@style/FullScreenActivityTheme" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>